.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;

  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.modal button {
  margin: 0 auto;
  width: 10%;
}
